body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

ul li {
    display: inline;
}

a {
    color: white;
    text-decoration: none;
}

.logoutButton{
    background-color:crimson;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.logoutButton:hover {
    background-color: coral;
}

.submit {
    background-color:#007bff;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.submit:hover {
    background-color:forestgreen;
}

form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 99%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
